body {
    font-family: sans-serif;
    margin: 10px;
}

.column.has-text-centered.notification {
    margin-right: 10px;
}

.screenshot.is-1-desktop {
    margin-left: 10px;
    margin-right: 10px;
}

.image.is-96x96 {
    margin: auto;
}

.logos {
    margin-top: 72px;
}

a.navbar-item:hover {
    background-color: lightskyblue;
}

.projects {
    margin-bottom: 10px;
    margin-top: 10px;
}

.credits {
    margin: 10px;
}

.androidBasics.column.has-text-centered {
    margin-bottom: 23px;
}

.aboutMe {
    margin-top: 80px;
}

.scrollTop {
    margin-right: 30px;
    margin-bottom: 10px;
}
